<?xml version="1.0" encoding="utf-8" ?>
<Defs>
    <XmlExtensions.SettingsMenuDef>
        <defName>BlackmoorTweaks</defName>
        <modId>Blackmoor.BlackmoorsTweaks</modId>
        <label>Blackmoor's Tweaks</label>
        <settings>
            <li Class="XmlExtensions.Setting.Section">
                <tag>core</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Core</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>core_areaTargetLaunchers</key>
                        <label>Changes AOE abilities like grenades and launchers to target ground instead of people. Should really be Vanilla, way more useful.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>core_powerArmorMovement</key>
                        <label>Changes power armor movement penalty.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Numeric">
                        <key>core_powerArmorMovement_Value</key>
                        <label>Speed Penalty/Bonus</label>
                        <defaultValue>-0.2</defaultValue>
                        <min>-1.0</min>
                        <max>10.0</max>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>core_LOSPreviewGuns</key>
                        <label>Enables LOS for all guns. Warning, causes lag when multiple pawns are selected, but still useful I think.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>core_cleanThrumbos</key>
                        <label>Sets Thrumbo filth rate to 2 (Twice that of a labrador). They are so cute we are not leaving them outside.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>core_nuzzleThrumbos</key>
                        <label>Sets Thrumbo to nuzzle every 6 hours. Big puppy.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>core_dropDownPower</key>
                        <label>Make a dropdown menu for all power conduits.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>royalty</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Royalty</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>royalty_boostGrenadier</key>
                        <label>Increases grenade charges to 5 for same resource and reduces the miss radius.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>royalty_areaTargetLaunchers</key>
                        <label>Changes AOE abilities like Grenadier grenade and Berser Pulse psycast to target ground instead of people.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>royalty_LOSPreview</key>
                        <label>Changes psycasts that require LOS to render a preview when casting.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>biotech</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Biotech</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>biotech_boostMechlord</key>
                        <label>Remove movement and combat penalties</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>anomaly</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Anomaly</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>anomaly_harbingerTreesIndoors</key>
                        <label>Make Harbinger Trees grow indoors.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>ve_architect</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Vanilla Expanded - Architect</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_vea_useCobblestoneTextureForTile</key>
                        <label>Replace Vanilla Tile Texture with Architect's Cobblestone</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>ve_fFarming</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Vanilla Furniture Expanded - Farming</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_vfe_allowEverythingInPlanter</key>
                        <label>Allow all plants to be planted in the planter box.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_vfe_reduceFertilityPlanter</key>
                        <label>Change planter box fertility.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Numeric">
                        <key>bt_vfe_reduceFertilityPlanter_Value</key>
                        <label>Fertility</label>
                        <defaultValue>0.7</defaultValue>
                        <min>0.1</min>
                        <max>5.0</max>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>zymex_CeilingFloorLamps</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Ceiling and Floor Lamps[continued]</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_cfl_updateLights</key>
                        <label>Upgrade lights to use the mechanics introduced in Biotech.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>rs_charmweaver</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Charmweavers</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_rsCh_forceBiHighmate</key>
                        <label>Change Low Mate's very high libido to force bisexual trait.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>ve_FEmpire</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Vanilla Factions Expanded - Empire</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_vFe_makeDeserterCraftable</key>
                        <label>Make Deserter Armor craftable.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>scp_ChemfuelAppliances</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Appliances Expanded</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_ca_industrialGeneratorsPreReq</key>
                        <label>Add Industrial Generators prerequisite for Turbines. (If VFE Power is loaded)</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_ca_turbinesHeatPush</key>
                        <label>Adjusts Turbines to push more heat. No more chilly rooms.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_ca_turbinesExplosive</key>
                        <label>Add explosions to damaged Turbines because that'll make infestations funnier. (Shows time to explosion on Turbine[toFix], but doesn't spontaneously explode)</label>
                        <defaultValue>false</defaultValue>                        <!-- Default to false until I can figure out why it shows time to explosion -->
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>ve_rHighmate</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Vanilla Races Expanded - Highmate</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <!-- Doesn't seem to work you can use the policy but pregnancy doesn't seem to happen. Will continue to monitor -->
                        <key>bt_vre_patchAsariPreg</key>
                        <label>Allow psychic pregnancy between the same gender. Why steal from Asari and then deny lesbian fun? (Doesn't seem to work)</label>
                        <defaultValue>false</defaultValue>                        <!-- Default to false until I can figure out why it doesn't work -->
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>ph_gulden</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Gulden Biome</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_gb_makeGuFungusPlantable</key>
                        <label>Add sowTag Ground to Gulden Fungus making it a plantable crop.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_gb_makeGuFungusFungus</key>
                        <label>Change food type of Gulden Fungus to Fungus for Ideology Precepts.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_gb_makeYlxirGenes</key>
                        <label>Allow the game to generate Ylxir genes, because I made the Graphics and damnit I'm using them.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>pha_basic_storage</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Phaneron's Basic Storage</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_bs_balanceUp</key>
                        <label>Adjust cost and storage capacity to be in line with Reel's Expanded Storage.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>reel_expandedStorage</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Reel's Expanded Storage</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_reel_patchPatch</key>
                        <label>Set default storage for all the patched buildings to empty, because fuck that.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>erin_cottageCollection</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Erin's Cottage Collection</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_erin_fireplaceGatherSpot</key>
                        <label>Remove gather spot property from fireplaces. For some reason it keeps resetting on save load.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>ecc_Furniture</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Eccentric Tech - Spacer Furniture</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_ecc_removeSlowdownFromCeilingLamps</key>
                        <label>Ceiling lamps inherit from torch base which defines a pathCost. This removes that.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>zav_glowstoneForked</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>[ZAV] Glowstone</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_addStylesToGlowstoneSculptures</key>
                        <label>Add styles to Glowstone Sculptures.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_reduceGlowstoneAbundance</key>
                        <label>Make Glowstone deposits smaller.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_nerfGlowstoneValue</key>
                        <label>Reduce the value of Glowstone.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_smallGlowstoneSmallVolume</key>
                        <label>Marks small glowstones as small volume (like silver and gold) and increases stack limit to 500.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_glowstone_pillar</key>
                        <label>Create a recipe for a glowstone pillar from VFE Art.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_glowstone_relief</key>
                        <label>Create a recipe for a glowstone relief from VFE Art.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_glowstone_monument</key>
                        <label>Create a recipe for a glowstone monument from VFE Art.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_glowstone_carving</key>
                        <label>Create a recipe for a glowstone carving from VFE Art.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_zav_glowstone_obelisk</key>
                        <label>Create a recipe for a glowstone obelisk from VFE Art.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>fsf_advancedBionics</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>[FSF] Advanced Bionics Expansion</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_fsf_ab_servitor_removal</key>
                        <label>Enable removal of servitor modules. That shit is evil.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
            <li Class="XmlExtensions.Setting.Section">
                <tag>vcepu</tag>
                <settings>
                    <li Class="XmlExtensions.Setting.Text">
                        <text>Vanilla Chemfuel Expanded - Unofficial Expansion</text>
                    </li>
                    <li Class="XmlExtensions.Setting.Checkbox">
                        <key>bt_vcepu_make_deepchem_from_chemfuel</key>
                        <label>Add recipe for making deepchem from chemfuel and toxic waste.</label>
                        <defaultValue>true</defaultValue>
                    </li>
                </settings>
            </li>
        </settings>
    </XmlExtensions.SettingsMenuDef>
</Defs>